    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 text-center">
                <h1>Consulta Fácil</h1>
                
                    <%= form_tag site_search_path, method: :get do %>
                    <%= text_field_tag(:q, params[:q],{ class:"form-control", placeholder: "Pesquisar por..."}) %>        
                    <span class="input-group-btn">
                    <%= submit_tag("Pesquisar", class:"btn btn-default") %>
                    <% end %>
             
            </div>
        </div>
        <!-- /.row -->        

    </div>
    <!-- /.container -->




